.loginBackground {
  display: flex;
  justify-content: center;
  align-items: center;

  .loginCard {
    width: 500px;
    height: 650px;
    padding: 20px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    z-index: 1;
    background-color: rgba(245, 245, 245, 0.273);
    justify-content: space-between;
    align-items: center;

    .loginLogo {
      display: flex;
      justify-content: center;
      img {
        width: 250px;
      }
    }

    .loginData {
      width: 100%;
      padding-inline: 15px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .loginForm {
        display: flex;
        flex-direction: column;
        &.blink {
          animation: blink 0.5s ease 2; 
        }

        .emailLogin,
        .passwdLogin {
          display: flex;
          flex-direction: column;
          padding: 10px;
          #passwdData, #emailData {
            border-radius: 3px;
          }

          label {
            padding-bottom: 10px;
          }
        }

        
        .error-message {
          height: 30px;
          color: red;
          font-size: 14px;
          margin-left: 10px;
          visibility: hidden; 
        }

        .error-message.show {
          visibility: visible; 
        }
      }

      ::ng-deep .p-password {
        width: 100% !important;

        .p-password-input {
          width: 100% !important;
        }

        .p-inputwrapper {
          width: 100% !important;
        }
      }
    }

    .optionsLogin {
      display: flex;
      justify-content: space-between;
      padding-inline: 20px;

      .rememberMeCheck {
        display: flex;
        align-items: center;
        margin-bottom: 16px;
        cursor: pointer;
        p-checkbox {
          margin-right: 8px;
        }
      }
      .forgottenPasswd {
        a {
          color: #00b2a9;
          font-weight: normal;
          text-decoration: none;
        }
        position: relative;
        cursor: pointer;
        transition: color 0.3s ease, font-weight 0.3s ease;

        &::before {
          content: '';
          position: absolute;
          left: 0;
          bottom: 15px;
          height: 1.5px;
          width: 0;
          background-color: #00b2a9;
          transition: width 0.3s ease;
        }

        &:hover {
          &::before {
            width: 100%;
          }
        }
      }
    }

    .loginButton {
      display: flex;
      justify-content: center;
      padding-block: 20px;
      button {
        cursor: pointer;
        width: 200px;
        border-radius: 3px;
        background-color: #2b2577;
        transition: background-color 0.3s ease, color 0.3s ease;
      }
      button:hover {
        background-color: #30289d;
      }
    }

    .signUpLink {
      display: flex;
      justify-content: center;
      padding-bottom: 20px;

      .signUpText {
        position: relative;
        color: #00b2a9;
        cursor: pointer;
        text-decoration: none;
        font-weight: normal;
        transition: color 0.3s ease;

        &::before {
          content: '';
          position: absolute;
          left: 0;
          bottom: -2px;
          height: 2px;
          width: 0;
          background-color: #00b2a9;
          transition: width 0.3s ease;
        }

        &:hover {
          color: #007a7a;
          &::before {
            width: 100%;
          }
        }
      }
    }
  }
}

@keyframes blink-border {
  0% {
    border-color: red;
  }
  50% {
    border-color: transparent;
  }
  100% {
    border-color: red;
  }
}

.blink-border {
  border: 2px solid red;
  animation: blink-border 0.5s ease 2;
}

@media (max-width: 400px) {
  .loginCard {
    width: 100% !important;
    height: 100% !important;
    border-radius: 0px !important;
  }
}
