.loginBackground {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .registerCard {
    width: 1000px;
    height: 700px;
    padding: 20px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    z-index: 1;
    background-color: rgba(245, 245, 245, 0.273);
    justify-content: space-between;

    .topText {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      h1 {
        color: #2B2577;
      }

      .textInfo {
        .info {
          margin-inline: 2px;
          color: #444444;        
        }
      }
    }

    .divider {
      width: 80%;
      margin: 0 auto;
      border: none;
      border-top: 2px solid #2B2577;
      margin-block: 15px;
    }

    app-form {
      justify-content: center;

      ::ng-deep .formField {
        flex-grow: 1;
      }

      ::ng-deep form {
        margin-inline: 15px !important;
      }

      ::ng-deep .infoField {
        flex-wrap: wrap !important;
      }
    }

    .privacyPolicyCheck {
      display: flex;
      align-items: center;
      margin-left: 25px;
      cursor: pointer;
      margin-top: 10px;
      p-checkbox {
        margin-right: 8px;
        
        &.error {
          border: 2px solid red;
          border-radius: 5px;
        }
      }
    }

    .required {
      color: red; 
      margin-left: 2px; 
    }

    .buttonsSignUp {
      display: flex;
      justify-content: flex-end;

      button {
        margin-right: 30px;
        margin-bottom: 10px;
      }
    }

    .successMessage {
      color: #00B2A9;//#4CAF50;
      font-size: 16px;
      text-align: center;
      background-color: #e6f5f1;
      padding: 8px;
      border: 1px solid #00B2A9;
      border-radius: 5px;
      margin-right: 30px;
    } 

    .hoverLink {
      color: #00B2A9;
      text-decoration: none;
      position: relative; 
      display: inline;

      &::after {
        content: '';
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #00B2A9;
        transform: scaleX(0); 
        transform-origin: left; 
        transition: transform 0.3s ease;
      }
    
      &:hover::after {
        transform: scaleX(1);
      }
    }
    
  }
}
