.loginBackground {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .passwordResetContainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .passwordResetCard {
      width: 650px;
      height: 450px; 
      padding: 20px;
      box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
      backdrop-filter: blur(5px);
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      background-color: rgba(245, 245, 245, 0.273);
      justify-content: space-evenly;
      z-index: 1;

      .topText {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .divider {
          width: 95%;
          margin: 0 auto;
          border: none;
          border-top: 2px solid #2B2577;
          margin-block: 15px;
        }

        h1 {
          color: #2B2577;
          margin-bottom: 30px;
          margin-top: 0;
        }

        .textInfo {
          span {
            display: block;
            color: #444444;
            text-align: center;
            margin-bottom: 10px;
          }
        }
      }
      
      ::ng-deep .infoField{
        display: flex;
        flex-direction: column;
        padding-inline: 20px;
      }

      ::ng-deep .formField {
        padding-inline: 30px;
      }
      
      .buttonForgotPassword {
        display: flex;
        justify-content: flex-end;  
        align-items: center;
        padding-right: 20px;
        button {
          width: 150px;
          margin: 0;
          flex-shrink: 0;
        }
      }

      .successMessage {
        color: #00B2A9;
        font-size: 16px;
        text-align: center;
        background-color: #e6f5f1;
        padding: 8px;
        border: 1px solid #00B2A9;
        border-radius: 5px;
        margin-right: 30px;
      }
    }
  }
}


