.mainHtml {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

.topSide {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0; 
}

.mainPage {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
}


.spinnerOverlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 1;
}

.appFooter {
  position: relative;
  z-index: 1;
  margin-top: auto;
}
