<div class="generic-selector">
  <div class="input-container">
    <input
      type="text"
      pInputText
      [(ngModel)]="searchTerm"
      (input)="onSearch()"
      [placeholder]="searchPlaceholder"
      class="search-input" />

    <button
      mat-raised-button
      color="accent"
      class="select-all-button"
      (click)="toggleAll()">
      {{ (allSelected ? 'BUTTONS.DESELECT' : 'BUTTONS.SELECT') | translate }}
    </button>
  </div>

  <div class="selector-item" *ngFor="let item of filteredItems">
    <p-checkbox
      [binary]="true"
      [ngModel]="isItemSelected(item)"
      (onChange)="toggleItem(item)">
    </p-checkbox>

    <div class="item-content">
      <div class="item-name">{{ getItemTitle(item) }}</div>
      <div *ngIf="getItemSubtitle(item)" class="item-secondary">
        {{ getItemSubtitle(item) }}
      </div>
    </div>
  </div>
</div>
