:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  height: 100%;
  min-height: 0;
  background-color: #f8f9fa;
  padding: 1rem;
  box-sizing: border-box;
}

.body {
  display: flex;
  flex-grow: 1;
  height: 100%;
  gap: 2rem;

  .leftSide,
  .rightSide {
    flex: 1;
    display: flex;
    flex-direction: column;
    background: #fff;
    border-radius: 8px;
    padding: 1.5rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
    overflow: auto;
  }
  .leftSide{
    .header {
      padding-inline: 1rem;
    }
    .tableData{
      margin-top: 2rem;
    }
  }

  .rightSide{
    position: relative;
    .header {
      padding-inline: 1rem;
      justify-content: flex-end !important;
      margin-bottom: 3rem;
    }
    // .tableData{
    //   margin-top: 2rem !important;
    // }
  }
  .analyze-button{
    z-index: 0;
  }
  .loading-container {
    min-height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    visibility: hidden;

    &.active {
      visibility: visible;
    }
  }

  .loading-text {
    display: block;
    font-weight: 500;
    font-size: 14px;
    margin-top: 4px;
    margin-bottom: 8px;
    color: #555;
  }

}
  .header {
    display: flex;
    min-height: 56px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 0.5rem;

    h2 {
      margin: 0;
      font-size: 1.6rem;
      font-weight: 600;
      color: #343a40;
    }
  }

  .back-button {
    padding: 0.4rem 0.8rem;
    font-size: 0.9rem;
    border-radius: 6px;
    display: flex;
    align-items: center;
    gap: 0.4rem;

    i {
      font-size: 1rem;
    }
  }


  .no-selection-message {
    text-align: center;
    color: #00b2a9;
    font-size: 1rem;
    margin: auto;
    background-color: rgba(0, 178, 169, 0.07);
    padding: 1rem;
    border: 1px solid #00b2a9;
    border-radius: 6px;
    width: 100%;
    max-width: 90%;
  }

  ng-container {
    font-size: 1rem;
    color: #495057;

    p {
      margin: 0.5rem 0;
    }
  }

.spinner-wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}


.predictions-table {
  width: 100%;
  border-collapse: collapse;
  max-height: 350px;
  overflow-y: auto;
  display: block;  // para que funcione el scroll
  font-size: 14px;

  thead {
    background-color: #2B2577;
    color: white;
    position: sticky;
    top: 0;
    z-index: 1;
  }

  th, td {
    border-bottom: 1px solid #ccc;
    text-align: center;
    padding: 10px 8px;
    height: 60px;
    user-select: none;
  }

  tbody {
    display: block;
    max-height: 300px;
    width: 100%;
  }

  tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
  }

  tbody tr:hover {
    background-color: transparent;
    cursor: default;
  }
}


