<div class="loginBackground">
  <div class="particlesBackground">
    <ngx-particles [id]="id" [options]="particlesOptions"></ngx-particles>
  </div>
  <div class="passwordResetContainer">
    <div class="passwordResetCard">
      <div class="topText">
        <h1>Password Recovery</h1>
        <div class="textInfo">
          <span>
            Please enter your email address. We will send you an email to
            recover your password.
          </span>
        </div>
        <hr class="divider" />
      </div>

      <form (ngSubmit)="onSubmit()" #resetForm="ngForm">
        <div class="formGroup">
          <div class="formEmail flex flex-column gap-2">
            <label for="email">Email</label>
            <input
              pInputText
              id="email"
              type="email"
              [(ngModel)]="email"
              name="email"
              #emailInput
              aria-describedby="email-help"
              [ngClass]="{ 'error-border': !email && submitted }" />
            <small
              id="email-help"
              [ngClass]="{ 'error-text': !email && submitted }">
              Enter your email to reset your password.
            </small>
          </div>
        </div>

        <div class="buttonForgotPassword">
          <div *ngIf="forgotPasswdSuccess" class="successMessage">
            Password recovery request sent successfully. You will receive an
            email with your new password shortly.
          </div>
          <button mat-raised-button color="accent" type="submit">
            Reset password
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
