.obj-viewer-container {
  width: 100%;
  height: 500px;
  overflow: hidden;
  display: flex;
  position: relative; 
  margin-top: 30px ;
}

canvas {
  width: 100%;
  flex-grow: 1;
 
}

.loading-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.spinner {
  border: 6px solid rgba(255, 255, 255, 0.2); 
  border-top: 6px solid #00B2A9; 
  border-radius: 50%;
  width: 60px; 
  height: 60px; 
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
