.training-history-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;  
  justify-content: flex-start;
  height: 100vh;
  padding: 3rem;
  background-color: #f7fafc; 
  gap: 3rem;

  .text-section {
    width: 100%;
    margin: 0 auto;
    padding: 2rem;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);  
  }

  h2 {
    color: #2B2577;
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 1rem;
    letter-spacing: 0.5px;
    line-height: 1.3;
  }

  p {
    color: #4B5563;
    font-size: 1.15rem;
    line-height: 1.8;
    margin: 0;
    text-align: justify;
    font-family: 'Roboto', sans-serif;  
    padding: 1.5rem;
    border-radius: 8px;
    background-color: #f1f3f5;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  }

  .chart-table-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 60%; 
    justify-content: space-between;
  }

  .chart-section {
    flex: 1;  
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: #f3f4f6;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  canvas {
    display: block;
    max-width: 90%;
    border-radius: 8px;
  }

  .table-section {
    flex: 1; 
    overflow-x: auto;
    max-height: 400px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 1rem;
    margin-left: 2rem;

    table {
      width: 100%;
      border-collapse: collapse;
      border-radius: 8px;
      overflow: hidden;
    }

    th {
      background-color: #2B2577; 
      color: white;
      font-weight: bold;
      text-align: center;
      padding: 1rem;
      
    }

    td {
      padding: 0.75rem;
      text-align: left;
      color: #2B2577;
    }

    tr:nth-child(even) {
      background-color: #ccc;
    }

    tr:hover {
      background-color: #f0f0f0;
    }
  }

  @media (max-width: 768px) {
    .chart-table-container {
      flex-direction: column;
      height: auto;
    }

    .text-section {
      width: 90%; 
    }

    h2 {
      font-size: 1.5rem;
    }

    p {
      font-size: 0.9rem;
    }

    table {
      font-size: 0.85rem;
    }
  }
}


.no-history-message {
  text-align: center;
  color: #00b2a9;
  font-size: 1rem;
  margin: auto;
  background-color: rgba(0, 178, 169, 0.07);
  padding: 1rem;
  border: 1px solid #00b2a9;
  border-radius: 6px;
  width: 100%;
  max-width: 90%;
}
