.documentation-wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;

    h2 {
      color: #2b2577;
      font-size: 1.8rem;
      margin: 0;
    }
  }

  .searchBar {
    width: 50%;

    .search-input {
      width: 100%;
      padding: 0.6rem;
      margin-bottom: 1rem;
      border: 1px solid #ccc;
      border-radius: 6px;
      font-size: 1rem;
    }
  }

  .list-container {
    height: 400px;
    overflow-y: auto;
    padding-right: 0.5rem;

    // Scrollbar vertical personalizado
    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-track {
      background: #f1f1f1;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
      background: #2b2577;
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #4d48a1;
    }
  }

  .document-list {
    list-style: none;
    padding: 1rem;
    margin: 0;

    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem 1rem;
      margin-bottom: 0.6rem;
      border: 1px solid #ddd;
      border-radius: 8px;
      transition:
        background-color 0.2s,
        border-color 0.2s;

      &:hover {
        background-color: #00b2a91d;
        border-color: #00b2a9;
      }

      .doc-info {
        display: flex;
        flex-direction: column;

        .doc-name {
          font-weight: 600;
          color: #2b2577;
          margin-bottom: 0.25rem;
        }

        .doc-meta {
          font-size: 0.9rem;
          color: #666;
          display: flex;
          gap: 1.5rem;
        }
      }
    }
  }
}

// PDF Viewer Full Width
.pdf-wrapper {
  margin: 0;
  padding: 0;

  .back-button {
    margin: 1rem;
    color: #2b2577;

    &:hover {
      text-decoration: underline;
    }
  }

  app-pdf-viewer {
    width: 100%;
    display: block;
    padding: 0;
    margin: 0;
  }
}

// Botones dentro del visor PDF (por ejemplo: atrás, descargar, etc.)
.buttonsPdfViewer {
  position: absolute;
  padding-inline: 2rem;
  align-items: center;
  height: 50px;
  right: 5px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  z-index: 1;

  ::ng-deep button span {
    margin: 0;
  }
}

.pdf-buttons {
  display: flex;
  justify-content: space-evenly;
}

.delete-btn {
  margin-left: 1rem;
  background-color: #dc3545 !important;
  color: #fff !important;
  border: none; 
  cursor: pointer;
  transition:
    background-color 0.3s;

  &:hover {
    background-color: #c82333; 
  }

  &:active {
    background-color: #bd2130;
  }
}


