.p-carousel {
    .p-carousel-content {
        .p-carousel-prev,
        .p-carousel-next {
            @include action-icon();
            margin: $inlineSpacing;
        }
    }

    .p-carousel-indicators {
        padding: $carouselIndicatorsPadding;

        .p-carousel-indicator {
            margin-right: $inlineSpacing;
            margin-bottom: $inlineSpacing;
           
            button {
                background-color: $carouselIndicatorBg;
                width: 12px;
                height: 12px;
                transition: $actionIconTransition;
                border-radius: 50%;

                &:hover {
                    background: $carouselIndicatorHoverBg;
                }
            }

            &.p-highlight {
                button {
                    background: #2B2577;
                    color: #2B2577;
                }
            }
        }
    }
}
