@use '@angular/material' as mat;
@import 'primeicons/primeicons.css';


@include mat.core();

$custom-primary-palette: (
  50 : #e0f6f5,
  100 : #b3e8e5,
  200 : #80d9d4,
  300 : #4dc9c3,
  400 : #26beb6,
  500 : #00b2a9,
  600 : #00aba2,
  700 : #00a298,
  800 : #00998f,
  900 : #008a7e,
  A100 : #b6fff8,
  A200 : #83fff3,
  A400 : #50ffee,
  A700 : #36ffec,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);
$custom-accent-palette: (
  50 : #e6e5ef,
    100 : #bfbed6,
    200 : #9592bb,
    300 : #6b66a0,
    400 : #4b468b,
    500 : #2b2577,
    600 : #26216f,
    700 : #201b64,
    800 : #1a165a,
    900 : #100d47,
    A100 : #8580ff,
    A200 : #544dff,
    A400 : #231aff,
    A700 : #0a00ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);
$custom-warn-palette: (
  50: #eee0e5,
  100: #d5b3be,
  200: #b98093,
  300: #9c4d67,
  400: #872647,
  500: #c30058,
  600: #6a0022,
  700: #5f001c,
  800: #550017,
  900: #42000d,
  A100: #ff7785,
  A200: #ff4457,
  A400: #ff1129,
  A700: #f60019,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$custom-primary: mat.m2-define-palette($custom-primary-palette);
$custom-accent: mat.m2-define-palette($custom-accent-palette);
$custom-warn: mat.m2-define-palette($custom-warn-palette);

$custom-theme: mat.m2-define-light-theme(
  (
    color: (
      primary: $custom-primary,
      accent: $custom-accent,
      warn: $custom-warn,
    ),
  )
);

@include mat.core-theme($custom-theme);

@include mat.all-component-themes($custom-theme);

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

table {
  width: 100%;

  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;     
  }
  .mat-mdc-text-field-wrapper{
    width: 60%;
  }
}
.legal-content {
  max-width: 70%;  
  margin: 20px auto;
  padding: 20px;
  line-height: 1.5;


  h1, h2, h3 {
    margin-bottom: 16px;
    font-weight: 500;  
    padding-bottom: 8px;
  }

  h1 {
    color: #2B2577;  
    font-size: 1.8rem; 
    border-bottom: 2px solid #2B2577;  
  }

  h2 {
    color: #3a3488;  
    font-size: 1.4rem;  
    border-bottom: 1px solid #3a3488; 
    padding-bottom: 6px;  
    margin-bottom: 20px;  
  }

  h3 {
    color: #40408d;  
    font-size: 1.2rem;
    font-style: italic;  
    border-left: 3px solid #40408d;  
    padding-left: 10px;  
    margin-bottom: 12px; 
    padding-bottom: 0;
  }

  p {
    margin: 0 0 16px 0;
    font-size: 1rem;
    color: #333;  
  }

  a {
    color: #2B2577;  
    text-decoration: none;
    transition: color 0.2s ease;
  }

  a:hover {
    color: #1a1a6e;  
    text-decoration: underline;
  }

  ul {
    padding: 0;
    margin: 16px 0;
    list-style-type: disc;  
    padding-left: 20px;  
  }

  li {
    margin-bottom: 8px;
    font-size: 1rem;
    color: #333;  
    line-height: 1.4;
    
  }

  li::marker {
    color: #40408d;
  }
  strong{
    color: #40408d;
  }
  
  .updated {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    color: #40408d;
  }
}